p { 
  border: 1px solid #FFCE30;
  background-color: #746AB0;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica; 
  color: blue;
}

.row {
  width=100%;
   background-color: green;
}
